<form [formGroup]="form" class="settings-form">
  <div class="row">
    <div class="col-10" >
      <h2>{{ 'SETTINGS.PARAM_CONFIG.SERVER.TITLE' | translate}}</h2>
    </div>
    <div class="col-2 text-right" stimContentToggler [toggledContent]="settings" [icon]="icon"><i class="fas fa-minus" #icon></i></div>
  </div>
  <div #settings>

    <!-- Automatické připojení ke stimulátoru -->
    <div class="col-12">
      <div class="form-group">
        <div class="form-check">
          <div class="form-row">
            <div class="col-6 vertical-center justify-content-start">
              <label for="settings-server-stimulator-autoconnect">{{ 'SETTINGS.PARAM_CONFIG.SERVER.STIMULATOR_AUTOCONNECT' | translate}}</label>
            </div>
            <div class="col-6 vertical-center">
              <input class="form-check-input" type="checkbox" id="settings-server-stimulator-autoconnect"
                     formControlName="autoconnectToStimulator">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</form>
