<nav [ngClass]="['navbar', 'navbar-expand-lg', 'navbar-light', navigation.applyCustomNavColor ? (navigation.customNavColor | async) : '']">
  <div>
    <h1 id="page-header" class="p-0 m-0 text-truncate">{{navigation.title | translate:navigation.titleArgs }}</h1>
    <small><i [ngClass]="['fas', (navigation.working ? 'fa-spin' : ''), navigation.icon]"></i> {{navigation.subtitle | translate:navigation.subtitleArgs}}</small>
  </div>

  <ul class="ml-auto nav navbar-nav navbar-right button-addon-bar">
    <li>
      <ng-template stimNavigationButtonsAddon></ng-template>
    </li>
    <li>
      <button class="btn navbar-page-tools-toggler d-none d-lg-block" type="button"
              *ngIf="navigation.hasPageTools$ | async"
              (click)="handleTogglePageTools()">
        <i class="fa fa-tools"></i>
      </button>
    </li>
    <li>
      <button class="navbar-toggler d-lg-none" type="button"
              (click)="navigation.toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </li>
  </ul>
</nav>

<stim-lib-modal #modal></stim-lib-modal>
