<div class="row" *ngIf="flowData.length === 0">
  <div class="col">
    <h2>Sekvence neobsahuje žádná data!</h2>
  </div>
</div>

<ng-container *ngIf="flowData.length != 0">

  <div class="row">
    <div class="col-12">

      <ul class="list-group list-group-horizontal sequence-group">
        <li class="list-group-item sequence-entry" *ngFor="let data of flowData; let i = index">
          <div class="heading text-center">{{i}}</div>
          <ul class="list-group stimul-group" >
            <li class="list-group-item stimul-entry text-center"
                *ngFor="let output of outputs"
                [class.active]="data == output"
                [ngStyle]="{'height': '30px', cursor: 'pointer'}"
                (click)="handleStimulChange(i, output)">
              <span>{{output}}</span>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>

  <div class="row" *ngIf="editable">
    <div class="col-12">
      <button class="btn btn-primary btn-sm" (click)="handleUpdate()" [disabled]="!dataHasChanged">Upravit</button>
      <button class="btn btn-secondary btn-sm" (click)="handleCancelUpdate()" [disabled]="!dataHasChanged">Zrušit úpravy</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="chart">
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [colors]="pieChartColors"
                [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>
</ng-container>
