<section class="row">
  <div class="col-12">
    <h2 *ngIf="ghosts.length === 0 && (sequences | async).length === 0">{{ 'SEQUENCES.NOT_FOUND' | translate}}</h2>
    <app-sequence-ghost-item-list [ghosts]="ghosts" *ngIf="ghosts.length !== 0"></app-sequence-ghost-item-list>
    <app-sequence-item-list [sequences]="sequences" (view)="handleView($event)" (delete)="handleDelete($event)" *ngIf="ghosts.length === 0"></app-sequence-item-list>
  </div>
</section>

<app-fab icon="fa-plus-circle" (fabClick)="handleCreateSequence()" class="sequence-new"></app-fab>

<app-modal #modal></app-modal>
