<div title="" class="modal-background" [style.display]="isOpen ? 'block' : 'none'"
     (click)="handleCancel()"></div>
<div class="modal" tabindex="-1" role="dialog" [style.display]="isOpen ? 'block' : 'none'">
  <div class="modal-dialog fade show" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="handleCancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-template appDialogChilds></ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="confirmDisabled | async" *ngIf="confirmText" (click)="handleConfirm()">{{confirmText}}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [disabled]="cancelDisabled" (click)="handleCancel()" *ngIf="cancelText">{{cancelText}}</button>
      </div>
    </div>
  </div>
</div>
