<div class="audio-player-container">
<div class="d-flex audio-player">
  <audio  #audioPlayer></audio>
  <button (click)='handlePlay();' class="btn btn-sm btn-dark"
          style="font-size: 14px!important;" [disabled]="loaderDisplay">
    <i *ngIf="loaderDisplay" title="Načítání..." class="fas fa-spinner fa-spin" aria-hidden="true"></i>
    <i *ngIf="!loaderDisplay && !isPlaying" title="Přehrát" class="fas fa-play" aria-hidden="true"></i>
    <i *ngIf="!loaderDisplay && isPlaying" title="Pauza" class="fas fa-pause" aria-hidden="true"></i>
  </button>
  <div class="flex-fill pl-1 audio-player-slider">
    <input type="range" min="0" [max]="duration" [value]="currentTime" class="slider" id="audio-time" (change)="sliderTimeChange($event)">
  </div>
  <div class="d-flex audio-player-duration">
        <span *ngIf="duration !== 0.01" class="pl-2 pr-3 my-auto" style="font-size: 14px!important;">
            -{{(duration - currentTime) | secondsToMinutes }}
        </span>
  </div>
  <button class="btn btn-sm btn-dark" *ngIf="displayVolumeControls" (click)="handleToggleVolume()">
    <i *ngIf="volume === 0" class="fas fa-volume-up" aria-hidden="true" title="Povolit zvuk"></i>
    <i *ngIf="volume > 0" class="fas fa-volume-mute" aria-hidden="true" title="Ztlumit"></i>
  </button>
  <button class="btn btn-sm btn-dark" (click)="handleShowFileBrowser()">
    <i class="fas fa-file-audio" title="Vybrat zvuk..."></i>
  </button>
</div>

<div *ngIf="displayTitle && title !== ''">
  <div style="text-align: center;">
    <div style="padding:1px 3px;">
      {{ title | audioTitle }}
    </div>
  </div>
</div>
</div>

<app-modal #modal></app-modal>
