<div class="form-group" [formGroup]="form">
  <label for="tag">Tagy</label>
  <div class="tags">
    <span class="badge badge-pill" *ngFor="let tag of tags.value" title="Odstranit">{{tag}} <i class="fas fa-trash" (click)="handleRemove(tag)"></i></span>
    <input type="text" class="form-control form-control-sm" placeholder="Nový..." id="tag" (change)="handleAddTag($event)" (keyup)="handleTagValueChange($event)" [class.is-valid]="newTagValid" [class.is-invalid]="!newTagValid">
    <small *ngIf="!newTagValid" class="form-text text-muted">Tag již existuje!</small>
  </div>
</div>
