<div class="form-group" [formGroup]="form">
  <label for="tag">{{ 'SHARE.TAGS.TITLE' | translate }}</label>
  <div class="tags">
    <span class="badge badge-pill" *ngFor="let tag of tags.value" [title]="'SHARE.TAGS.DELETE' | translate">{{tag}} <i class="fas fa-trash" (click)="handleRemove(tag)"></i></span>
    <input type="text" class="form-control form-control-sm" [placeholder]="'SHARE.TAGS.NEW' | translate" id="tag" (change)="handleAddTag($event)" (keyup)="handleTagValueChange($event)" [class.is-valid]="newTagValid && tags.touched" [class.is-invalid]="!newTagValid">
    <small *ngIf="!newTagValid" class="form-text text-muted">{{ 'SHARE.TAGS.TAG_ALREADY_EXISTS' | translate}}</small>
  </div>
</div>
