<nav [ngClass]="['navbar', 'navbar-expand-lg', 'navbar-light', navigation.applyCustomNavColor ? (navigation.customNavColor | async) : '']">
  <div>
    <h1 class="p-0 m-0 text-truncate">{{navigation.title}}</h1>
    <small><i [ngClass]="['fas', (navigation.working ? 'fa-spin' : ''), navigation.icon]"></i> {{navigation.subtitle}}</small>
  </div>

  <button class="navbar-toggler d-lg-none ml-auto" type="button" (click)="navigation.toggle()" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
