@import "~src/sass/_style-variables.sass"

.navbar
  background-color: $primary
  height: 52px
  z-index: 2
  -webkit-box-shadow: 0 3px 16px 0 $gray-900
  -moz-box-shadow: 0 3px 16px 0 $gray-900
  box-shadow: 0 3px 16px 0 $gray-900
  padding-bottom: 0
  padding-top: 0

  #menu-toggle
    display: block
