<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" [class.active]="fragment === 'service-state'" [routerLink]="'.'" [fragment]="'service-state'"><i class="fas fa-wifi"></i> Stav připojení</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="fragment === 'param-config'" [routerLink]="'.'" [fragment]="'param-config'"><i class="fas fa-cubes"></i> Konfigurace parametrů</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="fragment === 'console'" [routerLink]="'.'" [fragment]="'console'"><i class="fas fa-terminal"></i> Konzole</a>
  </li>
</ul>

<div class="row">
  <div class="col-12 col-lg-8 offset-lg-2">

    <app-service-state *ngIf="fragment === 'service-state'"></app-service-state>
    <app-param-config *ngIf="fragment === 'param-config'"></app-param-config>
    <app-console *ngIf="fragment === 'console'"></app-console>

  </div>
</div>
